<mat-card-content class="container full-vh">
  <mat-card-content fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center">
    <mat-card-content fxFlex="1 1 auto" fxLayout="row">
      <div fxFlex></div>
      <mat-card-content fxFlex>
        <mat-card class="login-card mat-elevation-z5">
          <mat-card-header class="mb-4">
            <mat-card-title class="text-center">
              Mi-am uitat parola
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
          <form  [formGroup]="forgetPasswordForm" (ngSubmit)="submitRegister()">
              <div fxLayout="column" fxLayoutGap="5px">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Parola*"
                  type="password"
                  formControlName="password">
                  <mat-error *ngIf="form.password?.invalid"> Parola este obligatorie </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width mb-3">
                  <input matInput placeholder="Confirma parola*"
                  type="password"
                  formControlName="checkpass">
                  <mat-error *ngIf="form.checkpass?.errors?.required"> Confirmarea parolei este obligatorie </mat-error>
                  <mat-error *ngIf="form.checkpass?.errors?.mustMatch"> Confirmarea parolei trebuie sa fie aceeasi cu cea de mai sus </mat-error>
                </mat-form-field>

                <div fxFlex fxLayout="row">
                  <div fxFlex class="">
                    <button fxFlex mat-raised-button color="primary" [disabled]="!forgetPasswordForm.valid" type="submit">
                     Schimba parola
                    </button>
                  </div>

                </div>
              </div>
          </form>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
      <div fxFlex></div>
    </mat-card-content>

  </mat-card-content>
</mat-card-content>
