@import '~@angular/material/_theming.scss';
@import '../../../../variables';

.sidebar-title{
  height: 64px;
}

.example-spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.user-menu-item{
  font-size: 40px;
  vertical-align: middle;
}

.route-ling-selected{
  //TODO add some css
  ///background-color: green;
}

.page-toolbar-icon{
  margin-right: 5%;
}
.admin-router-wrapper{
  padding: 1%;
}

.route-ling-selected{
  background: rgba(0,0,0,.04);
}
