<div class="container full-vh">
  <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center" class="align-items-center">

      <div fxFlex></div>
      <div fxFlex>

        <mat-card class="register-card mat-elevation-z5">
          <mat-card-header class="mb-4" fxLayoutAlign="center center">
            <mat-card-title class="">
              Inregistrare
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form fxLayout="column" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
              <mat-form-field>
                <input matInput placeholder="Nume*" formControlName="firstName">
                  <mat-error *ngIf="form.firstName.invalid">
                  Numele este obligatoriu
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width mb-3">
                <input matInput placeholder="Prenume*"
                formControlName="lastName">
                <mat-error *ngIf="form.lastName?.invalid">
                  Prenumele este obligatorie
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Numar telefon*" formControlName="phoneNumber">
                <mat-error *ngIf="form.phoneNumber?.invalid">
                  Numarul de telefon este obligatoriu
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Email*"
                formControlName="emailAdress">
                <mat-error *ngIf="form.emailAdress?.errors?.required">
                  Email-ul este obligatoriu
                </mat-error>
                <mat-error *ngIf="form.emailAdress?.errors?.email">
                  Adresa de mail trebuie sa fie o adresa valida
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Utilizator*" formControlName="username">
                <mat-error *ngIf="form.username?.invalid">
                  Numele utilizatorului este obligatoriu
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Parola*"
                type="password"
                formControlName="password">
                <mat-error *ngIf="form.password?.invalid"> Parola este obligatorie </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width mb-3">
                <input matInput placeholder="Confirma parola*"
                type="password"
                formControlName="checkpass">
                <mat-error *ngIf="form.checkpass?.errors?.required"> Confirmarea parolei este obligatorie </mat-error>
                <mat-error *ngIf="form.checkpass?.errors?.mustMatch"> Confirmarea parolei trebuie sa fie aceeasi cu cea de mai sus </mat-error>
              </mat-form-field>
              <div fxFlex class="mt">
                <button fxFlex mat-raised-button color="primary" type="submit">
                  Inregistreaza-te
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex></div>


  </div>
</div>
