
<h1 mat-dialog-title fxLayoutAlign="center center">
  <span *ngIf="data.type=='add'">
    Adauga Voucher
  </span>
  <span *ngIf="data.type=='edit'">
    Editeaza
  </span>
</h1>
<form fxLayout="column" [formGroup]="localForm" (ngSubmit)="SubmitForm()">
  <div mat-dialog-content class="example-container" fxLayout="column">
    <div class="input-row" *ngIf="data.type=='edit'">
      <mat-form-field fxFlex>
        <input matInput placeholder="Id" formControlName="authorId">
      </mat-form-field>
    </div>


    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Titlu*" formControlName="voucherTitle">
        <mat-error *ngIf="form.voucherTitle?.invalid">
          Numele este obligatoriu
        </mat-error>
      </mat-form-field>
    </div>


    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Descriere" formControlName="voucherDescription">

      </mat-form-field>
    </div>



    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Nr de utilizari*" formControlName="voucherMaximumUses">
        <mat-error *ngIf="form.voucherMaximumUses?.invalid">
          Numarul maxim de utilizari este obligatoriu
        </mat-error>
      </mat-form-field>
    </div>


    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Valoare discount*" formControlName="voucherPrice">
        <mat-error *ngIf="form.voucherPrice?.invalid">
        Valoarea discountului este obligatorie
        </mat-error>
      </mat-form-field>
    </div>


  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-button color="primary" type="submit" cdkFocusInitial *ngIf="data.type=='add'">
      <mat-icon>add</mat-icon> Adauga
    </button>
    <button mat-button color="primary" type="submit" cdkFocusInitial *ngIf="data.type=='edit'">
      <mat-icon>save</mat-icon> Salveaza
    </button>
    <button mat-button color="warn" type="button" (click)="onNoClick()">
      <mat-icon>close</mat-icon> Renunta
    </button>
  </div>

</form>

