<div class="container-fluid">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="my-2">
    <div fxFlex class="my-2">
      <img class="about-galery" src="../../../assets/images/about/1.jpg">
    </div>
    <div fxFlex class="my-2">
      <img class="about-galery" src="../../../assets/images/about/2.jpg">
    </div>
    <div fxFlex class="my-2">
      <img class="about-galery" src="../../../assets/images/about/3.jpg">
    </div>
    <div fxFlex class="my-2">
      <img class="about-galery" src="../../../assets/images/about/4.jpg">
    </div>
    <div fxFlex class="my-2">
      <img class="about-galery" src="../../../assets/images/about/5.jpg">
    </div>
    <div fxFlex class="my-2">
      <img class="about-galery" src="../../../assets/images/about/6.jpg">
    </div>
  </div>
</div>
