
.account-title{

  font-size:$TitlefontSizeSmall;
}


.add-address-button{

  background-color: #78ec91;
    color: black;
    border: none;
    height: 3rem;
    width: 10rem;
    -webkit-appearance: inner-spin-button;
    border-block-start-style: initial;

}
