.answer-text{
  word-break: break-all;
  margin-bottom: 10px;
}

.answer-buttons{
  margin-bottom: 10px;
}

.mat-list-item{
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.answer-list-item{
  min-width: 100%;
}
