
<div class="p-2" fxLayout="row">
  <mat-form-field fxFlex>
    <input matInput placeholder="Filtreaza" (keyup)="applyFilter($event.target.value)">

  </mat-form-field>
  <div fxFlex="2 2 calc(10em + 10px)"></div>
  <div fxFlex fxLayoutAlign="end center">
    <button mat-button color="accent" (click)="AddVoucher()">
      <mat-icon>add</mat-icon> Adauga
    </button>
  </div>
</div>

<div class="mat-elevation-z8 m-2" fxLayout="column" gallerize>
  <table mat-table fxFlex [dataSource]="dataSource" matSort>

<!-- TODO:sagestile se vad doar la hover,sa scot asta-->
    <ng-container matColumnDef="voucherId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.voucherId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="voucherTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Titlu </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.voucherId}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="voucherDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descriere </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.voucherDescription}} </mat-cell>
    </ng-container>



    <ng-container matColumnDef="voucherStartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data inceput </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.voucherStartDate | date}} </mat-cell>
    </ng-container>




    <ng-container matColumnDef="voucherEndDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data sfarsit </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.voucherEndDate | date}} </mat-cell>
    </ng-container>




    <ng-container matColumnDef="voucherMaximumUses">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nr utilizari </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.voucherMaximumUses}} </mat-cell>
    </ng-container>




    <ng-container matColumnDef="voucherPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Valoare </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.voucherPrice}} </mat-cell>
    </ng-container>




    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element" fxLayoutAlign="end center">
        <button mat-button color="warn" (click)="DeleteVoucher(element)">
          <mat-icon>delete</mat-icon>Sterge
        </button>
        <button mat-button color="primary" (click)="UpdateVoucher(element)">
          <mat-icon>edit</mat-icon>Editeaza
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
</div>
