

<div class="container text-spacing">


  <div class="container">

    <div  class="text-paragraph first-paragraph">
      <div data-aos="fade-right">
        The movement emphasized intense emotion as an authentic source of aesthetic experience, placing new emphasis on
        such emotions as apprehension, horror and terror, and awe—especially that experienced in confronting the new
        aesthetic categories of the sublimity and beauty of nature. It elevated folk art and ancient custom to something
        noble, but also spontaneity as a desirable characteristic (as in the musical impromptu). In contrast to the
        Rationalism and Classicism of the Enlightenment, Romanticism revived medievalism[7] and elements of art and
        narrative perceived as authentically medieval in an attempt to escape population growth, early urban sprawl, and
        industrialism.

        Although the movement was rooted in the German Sturm und Drang movement, which preferred intuition and emotion
        to
        the rationalism of the Enlightenment, the events and ideologies of the French Revolution were also proximate
        factors. Romanticism assigned a high value to the achievements of "heroic" individualists and artists, whose
        examples, it maintained, would raise the quality of society. It also promoted the individual imagination as a
        critical authority allowed of freedom from classical notions of form in art. There was a strong recourse to
        historical and natural inevitability, a Zeitgeist, in the representation of its ideas. In the second half of the
        19th century, Realism was offered as a polar opposite to Romanticism.[8] The decline of Romanticism during this
        time was associated with multiple processes, including social and political changes and the spread of
        nationalism.[9]
      </div>
    </div>


    <div data-aos="fade-left" class="text-paragraph">
      <span>
        The movement emphasized intense emotion as an authentic source of aesthetic experience, placing new emphasis on
        such emotions as apprehension, horror and terror, and awe—especially that experienced in confronting the new
        aesthetic categories of the sublimity and beauty of nature. It elevated folk art and ancient custom to something
        noble, but also spontaneity as a desirable characteristic (as in the musical impromptu). In contrast to the
        Rationalism and Classicism of the Enlightenment, Romanticism revived medievalism[7] and elements of art and
        narrative perceived as authentically medieval in an attempt to escape population growth, early urban sprawl, and
        industrialism.

        Although the movement was rooted in the German Sturm und Drang movement, which preferred intuition and emotion
        to
        the rationalism of the Enlightenment, the events and ideologies of the French Revolution were also proximate
        factors. Romanticism assigned a high value to the achievements of "heroic" individualists and artists, whose
        examples, it maintained, would raise the quality of society. It also promoted the individual imagination as a
        critical authority allowed of freedom from classical notions of form in art. There was a strong recourse to
        historical and natural inevitability, a Zeitgeist, in the representation of its ideas. In the second half of the
        19th century, Realism was offered as a polar opposite to Romanticism.[8] The decline of Romanticism during this
        time was associated with multiple processes, including social and political changes and the spread of
        nationalism.[9]
      </span>
    </div>




  </div>
