<div class="container " fxFlex fxLayout="column">


  <div class="container mb-5 slider" fxFlex>
    <app-slider></app-slider>
  </div>


  <div fxFlex fxLayoutAlign="center center" class="about-font color-accent about-title">
    Despre noi
  </div>

  <div fxFlex fxLayoutAlign="center center" fxLayout="column" class="mt-2 mb-3 p-5 about-font">
    <div fxFlex class="p-5">
      <span>
        Pornind ca o comunitate online am desfășurat, de-a lungul anilor, cu succes măsurabil campanii, am donat cărți,
        am organizat evenimente culturale, am dăruit suplimente culturale cititorilor fideli, am promovat autori, ne-am
        implicat, cu dăruire și profesionalism, oriunde-am considerat că e cazul și, mai ales, oriunde-am fost
        solicitați. Și nu ne-am oprit aici. În 2016 ne-am propus ca în următorul an să aducem editurile, anticariatele,
        pe scurt vânzătorii de carte, mai aproape de cititorii noștri prin conceptul de librărie online BiblioCarti.
      </span>
    </div>

    <div fxFlex fxLayoutAlign="center center" class="about-font color-accent mt-3 about-title">
      Cum funcționează?
    </div>

    <div fxFlex fxLayoutAlign="center center" class="mt-2 p-5 about-font">
      <div fxFlex>
        <span>
          Vânzătorii de carte ne propun noutățile editoriale pentru care doresc să-și sporească vânzările, iar noi le
          vom lista în librăria noastră, cuprinzând pentru fiecare titlu de carte următoarele detalii: titlu carte,
          autor, editura, an apariție, format carte, număr de pagini, tip coperta, ISBN, prețul produsului, imagine
          copertă, o scurtă prezentare și alte informații opționale relevante pentru potențialul client (a se lua în
          evidență eventualele oferte). </span>
      </div>
    </div>
    <div fxFlex fxLayoutAlign="center center" class="mt-2 mb-3 p-5 about-font">
      <div fxFlex>
        <span>
          Produsul listat în librărie va avea atașat un formular simplu de comandă prin care cumpărătorul va expedia comanda direct spre adresa de e-mail a vânzătorului și/sau numărul de telefon, urmând ca acesta să o onoreze respectând modalitățile de transport, iar cumpărătorul va respecta la rândul lui modalitățile de plată aferente. </span>
      </div>
    </div>
  </div>
</div>
