<header role="banner">

  <a class="nav-btn  mt-4 mr-3" (click)="toggmenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </a>
</header>
<nav role="navigation" class="site-nav">
  <ul class="nav navbar-nav" routerLinkActive="active">
    <li class="nav-item menu-hero-item">
        <a class="nav-link" routerLink="/src/app/areas/Home/welcome">
          Home
        </a>
    </li>
    <li class="menu-hero-item"><a href="#">Carti</a></li>
    <li class="menu-hero-item"><a href="#">Vouchere</a></li>
    <li class="menu-hero-item"><a href="#">Quizz-uri</a></li>
    <li class="menu-hero-item"><a href="#">Despre noi</a></li>
    <li class="menu-hero-item"><a href="#">Inregistreaza-te</a></li>
    <li class="menu-hero-item"><a href="#">Contacteaza-ne</a></li>


  </ul>
</nav>
