@import '~@angular/material/_theming.scss';

$mylibrary-light1-primary: mat-palette($mat-indigo);
$mylibrary-light1-accent: mat-palette($mat-pink, A200, A100, A400);

$mylibrary-light2-primary: mat-palette($mat-deep-purple);
$mylibrary-light2-accent: mat-palette($mat-pink, A200, A100, A400);

$mylibrary-dark1-primary: mat-palette($mat-blue-grey);
$mylibrary-dark1-accent:  mat-palette($mat-amber, A200, A100, A400);
$mylibrary-dark1-warn:    mat-palette($mat-deep-orange);

$mylibrary-dark2-primary: mat-palette($mat-pink);
$mylibrary-dark2-accent:  mat-palette($mat-amber, A200, A100, A400);
$mylibrary-dark2-warn:    mat-palette($mat-deep-orange);
