@import '../book-details/book-details.component.scss';

.mat-stepper-horizontal {
  background-color: unset;

}

.second-step {
  max-width: 40% !important;
  margin-left: 30%;
  margin-top: 10%;
  @media(max-width :599px){
    margin-left: 0%;
    margin-top: 10%;
  }
}
.empty-cart{
  height: 90%;
  width: 90%;
  background-position: center center;
}

.swal2-popup ,.swal2-modal ,.swal2-show
{
  height: 30%;
  background-repeat: no-repeat;
  width: 38%!important;
  background-size: contain;

}
