.mat-stepper-horizontal {
  background-color: unset;

}

.second-step {
  max-width: 40% !important;
  margin-left: 30%;
  margin-top: 10%;
  @media(max-width :599px){
    margin-left: 0%;
    margin-top: 10%;
  }
}
.empty-cart{
  height: 90%;
  width: 90%;
  background-position: center center;
}
