<div *ngIf="pairBooks.length>0 && sendedOrder==false" class="container">
  <button mat-raised-button id="toggle-linear">

  </button>
  <mat-horizontal-stepper [ngClass]="GetHomeMainClass()" #stepper>
    <mat-step>
      <form fxFlex fxLayout="column">
        <ng-template matStepLabel>Previzualizare comanda</ng-template>

        <div *ngFor="let b of pairBooks" fxFlex="100%" fxLayout="column" class="my-5">
          <div fxFlex fxLayout="row wrap">
            <div fxFlex="30%" [fxFlex.lt-md]="0">

            </div>
            <div fxFlex="10%">
              imagine
            </div>
            <div fxFlex="30%" fxLayout="column">
              <div fxFlex fxLayout="row">
                <div fxFlex>
                  {{b.book.bookTitle}}

                </div>
                <div fxFlex fxLayoutAlign="end center">
                  <span class="pointer material-icons color-accent-500" (click)="deleteItemCart(b.book)">
                    delete
                  </span>

                </div>
              </div>
              <div *ngFor="let auth of b.book.bookAuthor" fxFlex>
                {{auth.authorId.firstName}} {{auth.authorId.lastName}}
              </div>
              <div fxFlex fxLayout="row">
                <div fxFlex>


                  <mat-form-field>
                    <mat-label click="updatequantity(b.book.bookId)">{{quantity}}</mat-label>
                    <mat-select required>

                      <mat-option *ngFor="let option of options" [value]="option" (click)="calculatePrice(option,b)">
                        {{option}}
                      </mat-option>
                    </mat-select>

                  </mat-form-field>




                </div>
                <div fxFlex fxLayoutAlign="end center">
                  {{b | priceLibrary}} lei

                </div>
              </div>
            </div>
            <div fxFlex="30%" [fxFlex.lt-md]="0">

            </div>

          </div>

        </div>
        <div fxFlex fxLayoutAlign="end end">
          <button type="button" mat-button matStepperNext>Inainte</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form *ngIf="user" fxLayout="column">
        <ng-template matStepLabel>Detalii livrare</ng-template>

        <div fxFlex fxLayoutAlign="center center" class="mt-5 p-4">
          <button class="book-details-button  " mat-raised-button color="accent" (click)="AddAddress()">
            <mat-icon>mail</mat-icon>
            Adauga adresa noua
          </button>
        </div>

        <div *ngFor="let a of addresses" fxFlex="70%" fxLayout="row"
          class="container second-step border-angular border-color-accent-100">

          <!-- <div fxFlex="70%" class="">
            <div class="container " fxFlex fxLayout="column">
              <div fxFlex="100%" class="ml-5 my-1">
                {{a.country}},{{a.city}},{{a.province}}
              </div>
              <div fxFlex="100%" class="ml-5 mb-1">
                {{a.streetName}} , nr {{a.streetNumber}}
              </div>
              <div fxFlex="100%" class="ml-5 mb-1">
                Bloc {{a.block}}
              </div>
              <div fxFlex="100%" class="ml-5 mb-1">
                Etaj {{a.floor}} , apartament {{a.appartmentNumber}}
              </div>

            </div>
          </div> -->

          <mat-card class="tp-card">
            <mat-card-header>
              <div mat-card-avatar class="tp-header-image"></div>
              <mat-card-title>{{a.country}}</mat-card-title>


              <mat-card-subtitle>
                {{a.city}},{{a.province}}}

              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
              src="https://www.gpstracker.at/wp-content/uploads/2019/03/How-GPS-Tracking-Can-Benefit-Delivery-Services.jpg"
              alt="Review">
            <mat-card-content class="fit-in-box-text ml-5">
              <p>
                Detalii
              </p>
              <p>
                {{a.streetName}} , nr {{a.streetNumber}}
              </p>
              <p>
                Bloc {{a.block}}
              </p>
              <p>
                Etaj {{a.floor}} , apartament {{a.appartmentNumber}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button>
                 <mat-icon>thumbs-up</mat-icon>LIKE</button> -->

              <div fxFlex fxLayoutAlign="center center">
                <button type="button" mat-raised-button color="accent" (click)="chooseAddress(a)"
                  class="pointer">Alege</button>
              </div>
            </mat-card-actions>
          </mat-card>





        </div>

        <div fxLayoutAlign="start start" fxFlex>
          <button type="button" mat-button matStepperPrevious>Inapoi</button>
        </div>
        <div fxLayoutAlign="end end" fxFlex>
          <button type="button" [disabled]="order.idLocatie==null" mat-button fxLayoutAlign="end end"
            matStepperNext>Inainte</button>
        </div>

      </form>
      <form *ngIf="!user" fxFlex="column">
        Trebuie sa va logati
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizare comanda</ng-template>


      <div *ngFor="let v of vouchers" fxFlex="70%" fxLayout="row"
        class="container second-step border-angular border-color-accent-100">

        <div fxFlex="70%" class="">
          <div class="container " fxFlex fxLayout="column">

            <div fxFlex="100%" fxLayoutAlign="start start " class="ml-5 my-1">
              {{v.voucherTitle}} ( {{v.voucherMaximumUses}} utilizari)
            </div>

            <div *ngIf="v.author_voucher!=null" fxFlex="100%" class="ml-5 my-1">
              Autor : {{v.author_voucher.firstName}} {{v.author_voucher.lastName}}
            </div>
            <div *ngIf="v.category_voucher!=null" fxFlex="100%" class="ml-5 my-1">
              Categorie : {{v.category_voucher.categoryTitle}}
            </div>
            <div *ngIf="v.language!=null" fxFlex="100%" class="ml-5 my-1">
              Limba : {{v.language}}
            </div>
          </div>
        </div>

        <div fxFlex="30%" fxLayoutAlign="center center">
          <button type="button" mat-raised-button color="accent" (click)="chooseVoucher(v)"
            class="pointer">Alege</button>

        </div>
      </div>

      <div>
        <div fxLayoutAlign="start start" fxFlex>
          <button type="button" mat-button matStepperPrevious> INAINTE</button>
        </div>
        <div fxLayoutAlign="end end" fxFlex>
          <button type="button" mat-button fxLayoutAlign="end end" matStepperNext (click)="send()">TRIMITE
            COMANDA</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div *ngIf="pairBooks.length==0 && sendedOrder==false">
  <!-- ADAUGATI ARTICOLE IN COS -->
  <img fxFlex fxLayoutAlign="center center" class="empty-cart img-fluid"
    src="../../../../assets/images/details/empty.png">
</div>

<div *ngIf="sendedOrder==true">


  <img fxFlex fxLayoutAlign="center center"
    src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a7a7b120588211.56042b16edecd.gif"
    class="empty-cart img-fluid">
</div>
