<div *ngIf="pairBooks.length>0" class="container">
  <button mat-raised-button id="toggle-linear">

  </button>
  <mat-horizontal-stepper [ngClass]="GetHomeMainClass()" #stepper>
    <mat-step>
      <form fxFlex fxLayout="column">
        <ng-template matStepLabel>Previzualizare comanda</ng-template>

        <div *ngFor="let b of pairBooks" fxFlex="100%" fxLayout="column" class="my-5">
          <div fxFlex fxLayout="row wrap">
            <div fxFlex="30%" [fxFlex.lt-md]="0">

            </div>
            <div fxFlex="10%">
              imagine
            </div>
            <div fxFlex="30%" fxLayout="column">
              <div fxFlex fxLayout="row">
                <div fxFlex>
                  {{b.book.bookTitle}}

                </div>
                <div fxFlex fxLayoutAlign="end center">
                  <span class="pointer material-icons color-accent-500" (click)="deleteItemCart(b.book)">
                    delete
                  </span>

                </div>
              </div>
              <div *ngFor="let auth of b.book.bookAuthor" fxFlex>
                {{auth.authorId.firstName}} {{auth.authorId.lastName}}
              </div>
              <div fxFlex fxLayout="row">
                <div fxFlex>


                  <mat-form-field>
                    <mat-label click="updatequantity(b.book.bookId)">{{quantity}}</mat-label>
                    <mat-select required>

                      <mat-option *ngFor="let option of options" [value]="option"
                        (click)="calculatePrice(option,b.book.bookId)">
                        {{option}}
                      </mat-option>
                    </mat-select>

                  </mat-form-field>




                </div>
                <div fxFlex fxLayoutAlign="end center">
                  {{b.book.bookPrice}} lei

                </div>
              </div>
            </div>
            <div fxFlex="30%" [fxFlex.lt-md]="0">

            </div>

          </div>

        </div>
        <div fxFlex fxLayoutAlign="end end">
          <button type="button" mat-button matStepperNext>Inainte</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form *ngIf="user" fxLayout="column">
        <ng-template matStepLabel>Detalii livrare</ng-template>

        <div *ngFor="let a of user.addresses" fxFlex="70%" fxLayout="row"
          class="container second-step border-angular border-color-accent-100">

          <div fxFlex="70%" class="">
            <div class="container " fxFlex fxLayout="column">
              <div fxFlex="100%" class="ml-5 my-1">
                {{a.country}},{{a.city}},{{a.province}}
              </div>
              <div fxFlex="100%" class="ml-5 mb-1">
                {{a.streetName}} , nr {{a.streetNumber}}
              </div>
              <div fxFlex="100%" class="ml-5 mb-1">
                Bloc {{a.block}}
              </div>
              <div fxFlex="100%" class="ml-5 mb-1">
                Etaj {{a.floor}} , apartament {{a.appartmentNumber}}
              </div>

            </div>
          </div>

          <div fxFlex="30%" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" (click)="chooseAddress()" class="pointer">Alege</button>

          </div>
        </div>

        <div>
          <button type="button" mat-button fxFlexAlign="start start" matStepperPrevious>Inapoi</button>
          <button type="button" mat-button fxFlexAlign="end end">Inainte</button>
        </div>
      </form>
      <form *ngIf="!user" fxFlex="column">
        Trebuie sa va logati
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizare comanda</ng-template>
      <p>You are now done.</p>
      <p>You are now done.</p>
      <p>You are now done.</p>
      <p>You are now done.</p>
      <div>
        <button type="button" mat-button matStepperPrevious>Inapoi</button>
        <button type="button" mat-button>Inainte</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div *ngIf="pairBooks.length==0">
  ADAUGATI ARTICOLE IN COS
</div>
