
.account-title{

  font-size:$TitlefontSizeLarge;
}


.add-address-button{

  background-color: #78ec91;
    color: black;
    border: none;
    height: 3rem;
    width: 10rem;
    -webkit-appearance: inner-spin-button;
    border-block-start-style: initial;

}


.account-section-info{
  font-size:1.4rem;
  line-height: 1.6;
  font-size: x-large;

}

