
.account-title{

  font-size:$TitlefontSizeSmall;
}

.account-section-info{

  padding:0;
  font-size: 1.1rem;
  line-break: loose;
  line-height: inherit;
  font-family: inherit;
outline-style: dotted;
border-inline-end-color: inherit;
font-weight: 300;
font-variant-caps: titling-caps;
}
