

@import "variables";
@import "small";

//960px is also 560px (if basefont is 16px)
@media only screen and (min-width: 960px) {
	@import "medium";
}

//1280px is also 1028px (if basefont is 16px)
@media only screen and (min-width: 1280px) {
  @import "large";
}


.account-title{
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 // font-family: Quicksand;
 font-family:Ostrich San; //Raleway;
 //  color: rgb(120, 236, 145);
   flex: none!important;
 }


//buton de add


.add-address-button{

  background-color: rgb(120, 236, 145);
  color:black;
  border-radius:1rem;
  &:hover{

    transform: scale(1.3);
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  &:active{
    transform: scale(0.85);
  }
}
