<div class="container">
  <ul class="account-navigation-list">
    <li class="account-navigation-item">
      Contul meu
    </li>
    <li class="account-navigation-item">
      <a  routerLink="/cont/istoric" routerLinkActive="active">
     Istoric comenzi
     </a>
    </li>
    <li class="account-navigation-item">
      <a  routerLink="/cont/adrese" routerLinkActive="active">
     Adresele mele
     </a>
    </li>

    <li class="account-navigation-item">
      <a  routerLink="/cont/bilbiotecapersonala" routerLinkActive="active">
     Bilioteca personala
     </a>
    </li>



    <li class="account-navigation-item">
      <a  routerLink="/cont/recenzii" routerLinkActive="active">
    Recenziile mele
     </a>
    </li>


    <li class="account-navigation-item">
      <a  routerLink="/cont/datepersonale" routerLinkActive="active">
   Datele mele
     </a>
    </li>


    <li class="account-navigation-item">
      <a  routerLink="/cont/wishlist" routerLinkActive="active">
  Wishlist
     </a>
    </li>


    <li class="account-navigation-item">
      <a  routerLink="/cont/recomandari" routerLinkActive="active">
  Recomandari pentru mine
     </a>
    </li>

  </ul>
</div>
