<div class="container">
  <ul class="account-navigation-list">
    <li class="account-navigation-item">
        <a fxFlex fxLayout="row" fxLayoutAlign="space-between center" routerLink="/cont/accountOverview" [routerLinkActive]="['active']">
          <span fxFlex> Contul meu</span>
          <fa-icon [icon]="faArrowRight"></fa-icon>
        </a>
    </li>

    <li class="account-navigation-item">
      <a fxFlex fxLayout="row" fxLayoutAlign="space-between center" routerLink="/cont/istoric" [routerLinkActive]="['active']">
        <span fxFlex> Istoric comenzi</span>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </li>

    <li class="account-navigation-item">
      <a fxFlex fxLayout="row" fxLayoutAlign="space-between adrese" routerLink="/cont/istoric" [routerLinkActive]="['active']">
        <span fxFlex> Adresele mele</span>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </li>

    <li class="account-navigation-item">
      <a fxFlex fxLayout="row" fxLayoutAlign="space-between center" routerLink="/cont/bilbiotecapersonala" [routerLinkActive]="['active']">
        <span fxFlex> Bilioteca personala</span>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </li>

    <li class="account-navigation-item">
      <a fxFlex fxLayout="row" fxLayoutAlign="space-between center" routerLink="/cont/recenzii" [routerLinkActive]="['active']">
        <span fxFlex> Recenziile mele</span>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </li>

    <li class="account-navigation-item">
      <a fxFlex fxLayout="row" fxLayoutAlign="space-between center" routerLink="/cont/datepersonale" [routerLinkActive]="['active']">
        <span fxFlex> Datele mele</span>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </li>

    <li class="account-navigation-item">
      <a fxFlex fxLayout="row" fxLayoutAlign="space-between center" routerLink="/cont/wishlist" [routerLinkActive]="['active']">
        <span fxFlex> Wishlist</span>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </li>

    <li class="account-navigation-item">
      <a fxFlex fxLayout="row" fxLayoutAlign="space-between center" routerLink="/cont/recomandari" [routerLinkActive]="['active']">
        <span fxFlex> Recomandari</span>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </li>

<!-- TO DO ADD FUNCTIONALITATE -->
    <li class="account-navigation-item">
      <a fxFlex fxLayout="row" fxLayoutAlign="space-between center" routerLink="/home/welcome" [routerLinkActive]="['active']">
        <span fxFlex> Iesire din cont</span>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </li>
    <!-- TO DO ADD FUNCTIONALITATE -->


    <li class="account-navigation-item">
      <a fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span fxFlex> Stergere cont</span>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </li>

  </ul>
</div>
