<div class="container">
  <ul class="account-navigation-list">



    <li class="account-navigation-item"  >
      <div fxLayout="row">
      <div fxFlex>
      <a  routerLink="/cont/accountOverview" routerLinkActive="active">
   Contul meu
     </a>
    </div>

     <div FxFlex fxLayoutAlign="end end"  fxHide.xs fxHide.sm   fxHide.xs fxHide.sm  class="account-navigation-icon">
      <fa-icon [icon]="faArrowRight"></fa-icon>

     </div>
    </div>
    </li>



    <li class="account-navigation-item"  >
      <div fxLayout="row">
      <div fxFlex>
      <a  routerLink="/cont/istoric" routerLinkActive="active">
     Istoric comenzi
     </a>
    </div>

     <div FxFlex fxLayoutAlign="end end"  fxHide.xs fxHide.sm  class="account-navigation-icon">
      <fa-icon [icon]="faArrowRight"></fa-icon>

     </div>
    </div>
    </li>






    <li class="account-navigation-item"  >
      <div fxLayout="row">
      <div fxFlex>
        <a  routerLink="/cont/adrese" routerLinkActive="active">
          Adresele mele
          </a>
    </div>

     <div FxFlex fxLayoutAlign="end end"   fxHide.xs fxHide.sm  class="account-navigation-icon">
      <fa-icon [icon]="faArrowRight"></fa-icon>

     </div>
    </div>
    </li>




    <li class="account-navigation-item"  >
      <div fxLayout="row">
      <div fxFlex>
        <a  routerLink="/cont/bilbiotecapersonala" routerLinkActive="active">
          Bilioteca personala
          </a>
    </div>

     <div FxFlex fxLayoutAlign="end end"   fxHide.xs fxHide.sm  class="account-navigation-icon">
      <fa-icon [icon]="faArrowRight"></fa-icon>

     </div>
    </div>
    </li>





    <li class="account-navigation-item"  >
      <div fxLayout="row">
      <div fxFlex>
        <a  routerLink="/cont/recenzii" routerLinkActive="active">
          Recenziile mele
           </a>
    </div>

     <div FxFlex fxLayoutAlign="end end"   fxHide.xs fxHide.sm  class="account-navigation-icon">
      <fa-icon [icon]="faArrowRight"></fa-icon>

     </div>
    </div>
    </li>



    <li class="account-navigation-item"  >
      <div fxLayout="row">
      <div fxFlex>
        <a  routerLink="/cont/datepersonale" routerLinkActive="active">
          Datele mele
            </a>
    </div>

     <div FxFlex fxLayoutAlign="end end"   fxHide.xs fxHide.sm  class="account-navigation-icon">
      <fa-icon [icon]="faArrowRight"></fa-icon>

     </div>
    </div>
    </li>


    <li class="account-navigation-item"  >
      <div fxLayout="row">
      <div fxFlex>
        <a  routerLink="/cont/wishlist" routerLinkActive="active">
          Wishlist
             </a>
    </div>

     <div FxFlex fxLayoutAlign="end end"   fxHide.xs fxHide.sm  class="account-navigation-icon">
      <fa-icon [icon]="faArrowRight"></fa-icon>

     </div>
    </div>
    </li>



    <li class="account-navigation-item"  >
      <div fxLayout="row">
      <div fxFlex>
        <a  routerLink="/cont/recomandari" routerLinkActive="active">
          Recomandari
             </a>
    </div>

     <div FxFlex fxLayoutAlign="end end"   fxHide.xs fxHide.sm  class="account-navigation-icon">
      <fa-icon [icon]="faArrowRight"></fa-icon>

     </div>
    </div>
    </li>





  </ul>
</div>
