
.account-title{

  font-size:$TitlefontSizeSmall;
}


.container{
  div{
    span{
      font-size:$TitlefontSizeSmall;
    }
  }
  .account-overview-box {
    width: 250px;
  }
}


.account-overview-box-info{
  font-size: $BoxInfoSmall;
}

