<div fxFlex fxLayout="column">
  <div fxFlex fxLayoutAlign="center start" class="account-title mt-5 mt-lg-1">
    <p>
      Bine ai venit, {{user.firstName}}!
    </p>
  </div>

  <div fxFlex>

    <div class="container">

      <div (click)="edit()"class="account-overview-box mt-lg-5">

          <span>Editeaza</span>
          <div FxFlex fxLayoutAlign="center center" fxLayout="column wrap" class="mr-sm-5 mr-md-0 h-100 w-100">
            <div class="account-overview-box-info" FxFlex> Nume: {{user.firstName}} {{user.lastName}} </div>
            <div class="account-overview-box-info" FxFlex>Email: {{user.emailAdress}} </div>
          </div>


      </div>
    </div>


  </div>


  <div fxFlex (click)="YesToNews()">

    <div *ngIf="!yesNewsletter" class="container">

      <div class="account-overview-box mt-lg-5">

        <div FxFlex fxLayoutAlign="center center" fxLayout="column wrap" class="mr-sm-5 mr-md-0 h-100 w-100">
          <div class="account-overview-box-info" FxFlex>ABONEAZA-TE LA NEWSLETTER </div>
        </div>


      </div>
    </div>


  </div>


  <div fxFlex (click)="NoToNews()">

    <div *ngIf="yesNewsletter" class="container">

      <div class="account-overview-box mt-lg-5">

        <div FxFlex fxLayoutAlign="center center" fxLayout="column wrap" class="mr-sm-5 mr-md-0 h-100 w-100">
          <div class="account-overview-box-info" FxFlex>DEZABONARE NEWSLETTER </div>
        </div>


      </div>
    </div>


  </div>

</div>
