
  <div fxFlex fxLayout="row wrap" class="mt-lg-5" >
    <div FxFlex [fxFlex.lt-sm]="20" [fxFlex.lg]="10"></div>
    <div FxFlex [fxFlex.lt-sm]="80" fxLayoutAlign.lt-sm="center center" [fxFlex.lt-md]="80" [fxFlex.lt-lg]="30" [fxFlex.lt-xl]="45" class="mx-5 ">
  <!-- <  aaaaaaadsfghfdeafdgjkgfnvddjtrgndtrj> -->
  <app-user-menu></app-user-menu>

  </div>
  <div fxFlex fxLayoutAlign="center start" class="mt-2">

    <div class="account-title">
    <p>
      Bine ai venit , {{user.firstName}}!
    </p>
  </div>

  <!-- DE AICI INCEP CASUTELE -->
  <div fxFlex fxLayout="column">


    <!-- prima -->
    <div fxFlex

  </div>
  </div>
  </div>

