
// ICONITELE DE SUB SLIDER

.under-banner-icon{
  font-size:6.6rem;
  //color:rgb(25, 97, 25);
  opacity: 0.7;
  align-self: center;;
}

.under-banner-text{
  font-family: cursive;
  font-size:1rem;
  text-align: center;
}
