
// ICONITELE DE SUB SLIDER

.under-banner-icon{
  font-size:4rem;
  color:rgb(25, 97, 25);
  opacity: 0.7;
  align-self: center;;
}

.under-banner-text{
  font-family: cursive;
  font-size:0.9rem;
  text-align: center;
}
