
// ICONITELE DE SUB SLIDER

.under-banner-icon{
  font-size:9rem;
  color:rgb(25, 97, 25);
  opacity: 0.7;
  align-self: center;
  :hover{
    color:rgb(41, 209, 41);
    cursor: pointer;

  }


}

.under-banner-text{
  font-family: cursive;
  font-size:1.3rem;
  text-align: center;
}
