<div class="container" fxFlex fxLayout="column">


          <div class="container slider" fxFlex>
            <app-slider></app-slider>
          </div>



          <div class="container mt-4" fxFlex fxLayout="row">


            <div fxFlex="12.5%">

            </div>

            <div fxFlex="25%">
              <div class="container" fxFlex fxLayout="column">
                <div fxFlex="60%" class="under-banner-icon mb-4">
                  <fa-icon mat-list-icon [icon]="faGiftfaGift"></fa-icon>
                </div>
                <div fxFlex="20%" class="under-banner-text">
                  Împachetare gratuită

                </div>
                <div fxFlex="20%" class="under-banner-text">
                  Vrei să faci un cadou? Ți-l împachetăm gratuit!
                </div>
              </div>
            </div>

            <div fxFlex="25%">
              <div class="container" fxFlex fxLayout="column">
                <div fxFlex="60%" class="under-banner-icon mb-4">
                  <fa-icon mat-list-icon [icon]="faCarSide"></fa-icon>

                </div>
                <div fxFlex="20%" class="under-banner-text">
                  Livrare în 24h
                </div>
                <div fxFlex="20%" class="under-banner-text">
                  pentru peste 63.000 de produse!
                </div>
              </div>
            </div>
            <div fxFlex="25%">
              <div class="container" fxFlex fxLayout="column">
                <div fxFlex="60%" class="under-banner-icon mb-4">
                  <fa-icon mat-list-icon [icon]="faBiking"></fa-icon>

                </div>
                <div fxFlex="20%" class="under-banner-text">
                  Livrare cu bicicleta în aceeași zi
                </div>
                <div fxFlex="20%" class="under-banner-text">
                  în București, pentru produsele marcate „24h”
                </div>
              </div>
            </div>
            <div>

            </div>

          </div>


</div>
