@import url(//db.onlinewebfonts.com/c/67b90e89b51f675aa6352bb0bb16fa24?family=BohoScriptW01-Bold);

@font-face {font-family: "BohoScriptW01-Bold"; src: url("//db.onlinewebfonts.com/t/67b90e89b51f675aa6352bb0bb16fa24.eot"); src: url("//db.onlinewebfonts.com/t/67b90e89b51f675aa6352bb0bb16fa24.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/67b90e89b51f675aa6352bb0bb16fa24.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/67b90e89b51f675aa6352bb0bb16fa24.woff") format("woff"), url("//db.onlinewebfonts.com/t/67b90e89b51f675aa6352bb0bb16fa24.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/67b90e89b51f675aa6352bb0bb16fa24.svg#BohoScriptW01-Bold") format("svg"); }
.text {
    text-align: center;
    line-height: 1em;
    align-self: center;
    width: 40%;
    font-size: 4em;
    margin-left: -1.3em;
    margin-top: -1.3em;
}

.animated-banner {
  position: relative;
  height: 25em;
}

.girl {
    background: url(https://i.ibb.co/5r8g2y0/girl-flying.png) no-repeat;
    height: 270px;
    position: absolute;
    margin-left: 0;
    top: 45%;
    max-width: 35em;
    transform: translateZ(0);
    background-size: contain;
    z-index: 9999;
    width: 20em;
    -webkit-filter: drop-shadow(5px 5px 5px #2222222e);
    filter: drop-shadow(5px 5px 5px #2222222e);
}

.background {
    background-image: url(https://i.ibb.co/jTQFTVq/background-mountain5.png),url(https://i.ibb.co/b5JFDpB/background-mountain4.png),url(https://i.ibb.co/z7n0Z70/background-mountain3.png),url(https://i.ibb.co/tJFNq78/background-mountain2.png),url(https://i.ibb.co/9N2QQ1L/background-mountain1.jpg);
    background-repeat: repeat-x;
    background-position: 0 100%;
    z-index: 1;
    animation: parallax_bg linear 40s infinite;
    background-size: contain;
}

@keyframes parallax_bg {
  100% {
    background-position-x: -2400px, -2000px, -1800px, -1600px, -1200px;
  }
}

.midground {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: -webkit-baseline-middle;
    background: url(https://i.ibb.co/gSNmPrQ/speech-bubble.png) 50% 50% no-repeat;
    z-index: 2;
    background-size: 340px;
    top: 6%;
}

.foreground, .midground, .background {
    position: absolute;
    width: 100%;
    height: 31em;
    top: 0;
    left: 0;
    transform: translate3d(0,0,0);
}

.boho-script {
    font-family: 'BohoScriptW01-Bold',Fallback,sans-serif;
    font-weight: 300;
    font-style: normal;
}

@media (min-width: 576px) {
  .text {
      width: 35%;
      font-size: 4.5em;
  }
  .girl {
      width: 22.5em;
  }
  .foreground, .midground, .background {
      height: 35em;
  }
  .animated-banner {
    height: 27em;
  }
  .foreground, .midground, .background {
      height: 35em;
  }
}

@media (min-width: 768px) {
  .text {
      width: 30%;
      font-size: 5em;
  }
  .girl {
      width: 25em;
  }
  .foreground, .midground, .background {
      height: 36em;
  }

  .animated-banner {
      height: 33em;
  }
  .foreground, .midground, .background {
    height: 36em;
  }
  .midground {
      background-size: 480px;
      top: 0;
  }
}

@media (min-width: 1200px) {
  .text {
      font-size: 6em;
      width: 18%;
  }
}

@-webkit-keyframes hang-sink-animation {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hang-sink-animation {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}


/* Hang */
@-webkit-keyframes hang-animation {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hang-animation {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes parallax_fg {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: -3584px 100%;
  }
}

.hang-animation {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hang-sink-animation, hang-animation;
  animation-name: hang-sink-animation, hang-animation;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


//......................................................................
//404


.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-404_img-box {
  max-width: 700px;
  margin: 50px auto;

  z-index: 10;
  position: relative;
}
.ag-404_img {
  max-width: 100%;
}
.ag-404_img__first {
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: an-upDown 2s infinite;
  -moz-animation: an-upDown 2s infinite;
  -o-animation: an-upDown 2s infinite;
  animation: an-upDown 2s infinite;
}
.ag-404_img__last {
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: an-upDownInvert 2s infinite;
  -moz-animation: an-upDownInvert 2s infinite;
  -o-animation: an-upDownInvert 2s infinite;
  animation: an-upDownInvert 2s infinite;
}

@-webkit-keyframes  an-upDown {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-moz-keyframes  an-upDown {
  0% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-o-keyframes  an-upDown {
  0% {
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes  an-upDown {
  0% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes  an-upDownInvert {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@-moz-keyframes  an-upDownInvert {
  0% {
    -moz-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@-o-keyframes  an-upDownInvert {
  0% {
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes  an-upDownInvert {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
