<!--
<section class="animated-banner">
  <div class="midground">
      <div class="text boho-script">Sa descoperim lumea cartilor!</div>
      <div class="girl hang-animation"></div>
  </div>
  <div class="background">
  </div>
</section> -->

<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Parallax Animation 404</title>
  <meta name="description" content="Создание адаптивного сайта" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<div class="ag-format-container">
    <div class="ag-404_img-box">
      <img src="https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/animation-parallax-404/images/error-bot.png" class="ag-404_img ag-404_img__first" alt="Flashcookie">
      <img src="https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/animation-parallax-404/images/error-med.png" class="ag-404_img" alt="Flashcookie">
      <img src="https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/animation-parallax-404/images/error-top.png" class="ag-404_img ag-404_img__last" alt="Flashcookie">
    </div>
  </div>
</body>
</html>
