

.margin-home{
  background-color: rgb(227, 250, 239);
  height: 100vh;
}
.middle-home{
  background-color: white;
  height: 100vh;

}


.home-header{
  background-color: rgb(120, 236, 145);
  height: 5em;
}

.banner-image{
  object-fit: cover;
  width: 120px;
  height: 80px;

}

.line{
height: 100px;
}


.hero-icon{
  font-size:28px;
}

.page-icon{
  font-size: 62px;
}
