<!-- <div class="container text-spacing">
  <div class="container voucher-slider" fxFlex fxLayout="row">
    <div fxFlex="20" class="margin-home" fxFlex.xs="5">

    </div>
    <div fxFlex="60"  fxFlex.xs="100">
      <ng-image-slider [images]="imageObject" #nav [infinite]="true" [animationSpeed]="0.1" [slideImage]="1"
        [imagePopup]="true" [imageSize]="size" [autoSlide]="5" [arrowKeyMove]="true" [showArrow]="true"
       ></ng-image-slider>

    </div>

    <div fxFlex="20" class="margin-home"  fxFlex.xs="5">

    </div>

    <div class="container">


    </div>
  </div>
</div> -->


<div>
  <ng-image-slider [images]="imageObject" #nav [infinite]="true" [animationSpeed]="0.1" [slideImage]="1"
    [imagePopup]="true" [imageSize]="size" [autoSlide]="5" [arrowKeyMove]="true" [showArrow]="true"
   ></ng-image-slider>
   <button (click)="prevImageClick()">Prev</button>
   <button (click)="nextImageClick()">Next</button>

</div>
