
.account-title{

  font-size:$TitlefontSizeSmall;
}


//buton



.add-address-button{

  background-color: #78ec91;
    color: black;
    border: none;
    height: 3rem;
    width: 10rem;
    -webkit-appearance: inner-spin-button;
    border-block-start-style: initial;

}


.container{
  div{
    span{
      font-size:$TitlefontSizeSmall;
    }
  }
  .account-overview-box {
    width:400px;
  }
}

.account-overview-box-info{
  font-size: $BoxInfoLarge;
}
