
.account-title{

  font-size:$TitlefontSizeMedium;
}


.container{
  div{
    span{
      font-size:$TitlefontSizeMedium;
    }
  }
  .account-overview-box {
    width: 380px;
  }
}

.account-overview-box-info{
  font-size: $BoxInfoMedium;
}
