
.account-title{

  font-size:$TitlefontSizeSmall;
}


//buton
.add-address-button{
border-radius: 1rem;
height: 3rem;


}



.container{
  div{
    span{
      font-size:$TitlefontSizeSmall;
    }
  }
  .account-overview-box {
    width: 250px;
  }
}


.account-overview-box-info{
  font-size: $BoxInfoSmall;
}

