

<div fxFlex fxLayout="row wrap" class="mt-lg-5">
  <div FxFlex [fxFlex.lt-sm]="20" [fxFlex.lg]="10"></div>
  <div FxFlex [fxFlex.lt-sm]="80" fxLayoutAlign.lt-sm="center center" [fxFlex.lt-md]="30" [fxFlex.lt-lg]="30"
    [fxFlex.lt-xl]="45" class="mx-5 ">
    <!-- <  aaaaaaadsfghfdeafdgjkgfnvddjtrgndtrj> -->
    <app-user-menu></app-user-menu>

  </div>


  <div fxLayout="column" [fxFlex.lt-lg]="60" [fxFlex.lt-md]="60" [fxFlex.lt-sm]="100" fxFlex class="mt-2">

    <div fxFlex fxLayoutAlign="center start" class="account-title mt-5 mt-lg-1">
      <p>
       Adresele mele
      </p>
    </div>
    <div fxFlex fxLayoutAlign="center start" class="account-title mt-5 mt-lg-4"  >

   <button (Click)=" AddAddress()" mat-button class="add-address-button">Adauga o noua adresa</button>
    </div>

    <!-- DE AICI INCEPE INSIRUIREA ADRESELOR -->

    <div fxFlex>

      <div class="container">

        <div class="account-overview-box mt-lg-5">

          <span>Vezi mai mult</span>
          <div FxFlex fxLayoutAlign="center center" fxLayout="column wrap" class="mr-sm-5 mr-md-0 h-100 w-100">

          </div>



        </div>
      </div>


    </div>










  </div>
</div>
