
<div fxFlex fxLayout="column">
<div fxFlex fxLayoutAlign="center start" class="account-title color-accent mt-5 mt-lg-1">
      <p >
       Adresele mele
      </p>
    </div>
    <div fxFlex fxLayoutAlign="center start" class="account-title color-accent mt-5 mt-lg-4"  >

   <button (click)="AddAddress()" mat-button class="add-address-button">Adauga o noua adresa</button>
    </div>

    <!-- DE AICI INCEPE INSIRUIREA ADRESELOR -->

    <div fxFlex>

      <div *ngFor="let address of addresses" class="container">

        <div class="account-overview-box mt-lg-5">

          <span>Vezi mai mult</span>
          <div FxFlex fxLayoutAlign="center center" fxLayout="column wrap" class="mr-sm-5 mr-md-0 h-100 w-100">

            <div class="account-overview-box-info" FxFlex> Oras:   {{address.city}} </div>
            <div  class="account-overview-box-info" FxFlex>Strada:    {{address.streetName}} </div>
            <div class="account-overview-box-info" FxFlex> Numar:   {{address.streetNumber}} </div>



          </div>







        </div>
      </div>


    </div>
  </div>
