//404


.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-404_img-box {
  max-width: 700px;
  margin: 50px auto;

  z-index: 10;
  position: relative;
}
.ag-404_img {
  max-width: 100%;
}
.ag-404_img__first {
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: an-upDown 2s infinite;
  -moz-animation: an-upDown 2s infinite;
  -o-animation: an-upDown 2s infinite;
  animation: an-upDown 2s infinite;
}
.ag-404_img__last {
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: an-upDownInvert 2s infinite;
  -moz-animation: an-upDownInvert 2s infinite;
  -o-animation: an-upDownInvert 2s infinite;
  animation: an-upDownInvert 2s infinite;
}

@-webkit-keyframes  an-upDown {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-moz-keyframes  an-upDown {
  0% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-o-keyframes  an-upDown {
  0% {
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes  an-upDown {
  0% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes  an-upDownInvert {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@-moz-keyframes  an-upDownInvert {
  0% {
    -moz-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@-o-keyframes  an-upDownInvert {
  0% {
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes  an-upDownInvert {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
