<div fxFlex fxLayout="column" *ngIf="book">
  <div FxFlex>
    <div class="mt-lg-5 mt-0 container">
      <div fxFlex fxLayout="row wrap">
        <div fxFlex="30%" fxFlex.lt-sm="100%" fxFlex.mt-sm="50%">

          <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="parent">
            <img *ngIf="book.bookImageSrc" [src]="book.bookImageSrc" class="image-book" [class.out-of-stock-overlay]="book.numberOfBoooks==0">
            <img *ngIf="book.numberOfBoooks==0" src="../../../../assets/images/details/Sold-Out-PNG-Picture.png" class="pointer on-top-image out-of-stock-img" >
            <img *ngIf="book.bookPrice<book.lastPrice && book.numberOfBoooks!=0" src="../../../../assets/images/details/new/sales.png" class="pointer on-top-image sales-img child" >

          </div>

        </div>
        <div fxLayoutAlign="start center" fxFlex="30%" fxFlex.lt-sm="100%" fxFlex.mt-sm="50%" class="book-details">
          <div fxFlex fxLayout="column">
            <div fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Titlu:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.bookTitle}}
              </div>
            </div>

            <!-- autori -->
            <div fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Autori:
              </div>
              <div fxFlex="30%" fxLayout="row wrap">
                <div *ngFor="let author of book.bookAuthor" class="ml-1">{{author.authorId.firstName}}
                  {{author.authorId.lastName}} </div>
              </div>

            </div>

            <div fxFlex fxLayout="row" class="ml-4">

              <div *ngIf="book.publisher" fxFlex="30%">
                Editura:
              </div>
              <div fxFlex="30%" fxLayout="row wrap">
                <div class="ml-1"> {{book.publisher.publisherTitle}} </div>
              </div>

            </div>

            <div *ngIf="book.booksCategories.length > 0" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Categorii:
              </div>
              <div fxFlex="30%" fxLayout="row wrap">
                <div *ngFor="let cat of book.booksCategories" class="ml-1">{{cat.categories.categoryTitle}} </div>
              </div>

            </div>

            <!-- cu verificare -->
            <div *ngIf="book.bookDimension" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Dimensiune:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.bookDimension}}
              </div>
            </div>

            <div *ngIf="book.bookLanguage" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Limba:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.bookLanguage}}
              </div>
            </div>

            <div *ngIf="book.bookPrice" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Pret:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.bookPrice}}
              </div>
            </div>

            <div *ngIf="book.bookRating" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Rating:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.bookRating}}
              </div>
            </div>

            <div *ngIf="book.bookWeight" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Greutate:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.bookWeight}}
              </div>
            </div>

            <div *ngIf="book.coverType" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Coperta:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.coverType}}
              </div>
            </div>

            <div *ngIf="book.numberOfBoooks" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                STOC:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.numberOfBoooks}}
              </div>
            </div>

            <div *ngIf="book.numberOfPages" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Numar pagini:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.numberOfPages}}
              </div>
            </div>

            <div *ngIf="book.numberofVolumes" fxFlex fxLayout="row" class="ml-4">

              <div fxFlex="30%">
                Numar volume:
              </div>
              <div fxFlex="70%" class="ml-1">
                {{book.numberofVolumes}}
              </div>
            </div>

          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" fxFlex="30%" fxFlex.lt-sm="100%" fxFlex.mt-sm="50%"
          class="user-actions-class ">

          <div fxLayoutAlign="center center" fxLayoutAlign.lt-md="start start" fxFlex
            class="mr-lg-0 mr-sm-3 pl-4 pl-lg-0">


            <button *ngIf="alreadyInWishlist" mat-raised-button color="warn" (click)="AddToWhishlist()">
              <mat-icon>favorite</mat-icon>
              Adauga in whishlist
            </button>

            <button *ngIf="!alreadyInWishlist" mat-raised-button color="warn" (click)="DeleteFromWishlist()">
              <mat-icon>favorite</mat-icon>
              Sterge din whishlist
            </button>

          </div>
          <div *ngIf="book.numberOfBoooks>0"fxLayoutAlign="center center" fxLayoutAlign.lt-md="start start" fxFlex>

            <button [disabled]="book.numberOfBoooks==0" mat-raised-button color="primary" (click)="AddtoCart()">
              <mat-icon>add_shopping_cart</mat-icon>
              Adauga in cos
            </button>
          </div>
          <div *ngIf="book.numberOfBoooks==0"fxLayoutAlign="center center" fxLayoutAlign.lt-md="start start" fxFlex>

            <button [disabled]="book.numberOfBoooks==0" mat-raised-button color="primary" (click)="AddtoCart()">
              <mat-icon>close</mat-icon>
              Indisponibil
            </button>
          </div>

          <div *ngIf="book.numberOfBoooks==0"fxLayoutAlign="center center" fxLayoutAlign.lt-md="start start" fxFlex>

            <button [disabled]="book.numberOfBoooks>0" mat-raised-button color="accent" (click)="mailMe()">
              <mat-icon>mail</mat-icon>
              Notifica-ma cand e in stoc
         </button>
          </div>


          <div fxLayoutAlign="center center" fxLayoutAlign.lt-md="start start" fxFlex>

            <button *ngIf="alreadyInMyBooks" mat-raised-button color="default" (click)="AddToPersonal()">
              <mat-icon>bookmarks</mat-icon>
              Adauga in biblioteca personala
            </button>

            <button *ngIf="!alreadyInMyBooks" mat-raised-button color="default" (click)="DeleteFromPersonal()">
              <mat-icon>bookmarks</mat-icon>
              Sterge din biblioteca personala
            </button>

          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="p-lg-2 ml-lg-4 ml-4 mt-5 mt-lg-5" FxFlex>
    {{book.bookDescription}}
  </div>
  <div class="p-lg-2 ml-lg-4 ml-4 mt-5 mt-lg-5" FxFlex>

  </div>
  <div class="p-lg-2 ml-lg-4 ml-4 mt-5 mt-lg-5" FxFlex fxLayout="row" fxLayoutAlign="center space-between">
    <div fxFlex>
      <button mat-button color="accent" class="border-angular border-color-primary-500" (click)="viewReview=false">VEZI RECENZII</button>
    </div>
    <div fxFlex fxLayout="row">
      <div fxFlex>
        <button mat-button color="accent" (click)="viewReview=true">LASA
          UN COMENTARIU</button>

      </div>
      <div fxFlex>
        <star-rating [starType]="'svg'" [rating]="rating" [readOnly]="true" [showHalfStars]="true"
          [hoverEnabled]="false" labelPosition="left" [numOfStars]="5"></star-rating>

        <!-- <app-star-rating [rating]="rating" [isEditable] = "true" [dataSet] = "dataSet"></app-star-rating> -->

      </div>
    </div>
  </div>

  <div *ngIf="!viewReview" class="p-lg-2 ml-lg-4 ml-4 mt-5 mt-lg-5 " FxFlex fxLayout="column"
    fxLayoutAlign="center space-between">
    <div  fxFlex fxLayoutAlign="center center" fxLayout="column" >
      <div *ngFor="let rev of reviews" fxFlex fxLayout="column" fxLayoutAlign="center center" class=" my-3 border-angular border-color-accent-100">
        <div fxFlex>

        </div>
        <div *ngIf="rev.userReviewMaker!=null" fxFlex>
         User {{rev.userReviewMaker.username}}
        </div>
        <div fxFlex>
          {{rev.reviewerName}}
        </div>
        <div fxFlex>
          {{rev.textReview}}
        </div>
    </div>
  </div>
  </div>

  <div *ngIf="viewReview" class="p-lg-2 ml-lg-4 ml-4 mt-5 mt-lg-5" FxFlex fxLayout="column"
    fxLayoutAlign="center space-between">

    <div fxFlex>
      <!-- <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
      <star-rating [starType]="'svg'" [rating]="newRating" [step]="0.5" [showHalfStars]="true" [hoverEnabled]="true"
        labelPosition="left" [numOfStars]="5" [readOnly]="false" (ratingChange)="onRatingChange($event)"
        (starClickChange)="onClick($event)"></star-rating>
      <!-- <app-star-rating [rating]="rating" [isEditable] = "true" [dataSet] = "dataSet"
         (click)="addReview(rating)"

         (Click)="onClick($event)"
         (onRatingChange)="onRatingChange($event)"
         (onHoverRatingChange)="onHoverRatingChange($event)"
         ></app-star-rating> -->

    </div>
    <div fxFlex fxLayoutAlign="center center" class="my-3">
      <form [formGroup]="localForm" (ngSubmit)="SubmitForm()">

        <div mat-dialog-content class="example-container" fxLayout="column">

          <div class="input-row">
            <mat-form-field fxFlex>
              <input matInput placeholder="Nume*" formControlName="reviewerName">
              <mat-error *ngIf="form.reviewerName?.invalid">
                Numele este obligatoriu
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-row">
            <mat-form-field fxFlex>
              <textarea rows="8" matInput placeholder="Comentariu" formControlName="textReview"></textarea>

            </mat-form-field>
          </div>

        </div>

        <button mat-button color="primary" type="submit">
          <mat-icon>add</mat-icon> Adauga
        </button>


      </form>
    </div>
    <!-- <div  fxLayoutAlign="center center" fxFlex>
      <button mat-button color="primary" type="submit">
        <mat-icon>add</mat-icon> Adauga
      </button>
    </div> -->

  </div>

  <!-- //TODO ADD BUTON DE BACK -->
