.book-details{


}


.image-book{
  max-width: 90%;
  height: auto;
}


.user-actions-class{
  @media(min-width:1200px){
    max-height: 30%!important;
    margin-top: 212px!important;

  }
}


.already-in-whishlist{
  color:rgb(255, 0, 0);
}

.already-saved{
  color:rgb(16, 233, 16);
}
.out-of-stock-img{
  height: 24%;
  width: 51%;

}
.sales-img{

  height: 59%;
  width: 44%;
    padding: 154px 0 0 191px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    :hover{
     // transform: scale(1.5);
     -webkit-transform: scale(1.8) rotate(0.01deg);
   // transform: scale(1.8) rotate(0.01deg);
   transform: rotate(25deg);
    }

}

.out-of-stock-overlay{
  opacity: 0.3;

}
.parent:hover .child,
.parent:focus .child {
  transform: scale(1.2);
}

.parent{
  position: relative;
}


.search-redirect{
  text-decoration: none;
  font-weight: 500;
}


.book-info{
  font-size: medium;
  line-height: inherit;
  line-height: 1.8;
}

.book-details-button{
  width: 250px!important;
  min-width: unset!important;
}


.tp-card {
  max-width: 400px;
}

