<div class="container" fxFlex fxLayout="column">
  <div fxFlex="5em"  fxLayoutAlign= "end center" class="container home-header background-color-accent-500  px-5">

    <mylibrary-theme-selector></mylibrary-theme-selector>
  </div>


  <div class="container" fxFlex fxLayout="row">
    <div fxHide.xs [fxFlex.lg]="10" [fxFlex.xl]="20" class="margin-home background-color-accent-100">


    </div>


    <div fxFlex="100" [fxFlex.lg]="80" [fxFlex.xl]="60" [ngClass]="GetHomeMainClass()" class="middle-home">
      <div class="container line">


        <div class="container" fxFlex fxLayout="column">
          <div fxFlex fxLayout="row wrap">

            <div fxFlex="0 1 0%" [fxFlexOrder]="1" class="my-2 px-4 page-icon pointer account-icon-redirect" >
              <a  routerLink="/home/welcome" routerLinkActive="active">
                <div fxFlex class=" color-accent" >
                  <fa-icon mat-list-icon [icon]="faBookOpen"></fa-icon>
                </div>

              <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Library_building_clipart.svg/800px-Library_building_clipart.svg.png" class="banner-image"> -->
              </a>
            </div>


            <div fxFlex="100" fxFlex.gt-sm="1 1 0%" [fxFlexOrder]="3" [fxFlexOrder.gt-sm]="2" class="mt-2 px-3">


              <mat-form-field fxFlex appearance="outline" class="pointer">
                <mat-label  >Ce vrei sa cauti?</mat-label>
                <input [(ngModel)]="searchKey" matInput placeholder="Cauta...">

                <mat-icon matSuffix (keyup.enter)="sendit($event.target.value)" (click)="search()">search</mat-icon>

              </mat-form-field>


            </div>

            <div fxFlex="1 1 0%" fxFlex.gt-sm="0 1 0%" [fxFlexOrder]="2" [fxFlexOrder.gt-sm]="3" class="cont px-3"
              fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30px">
              <div fxFlex="0 1 0%" class="pointer account-icon-redirect">
                <a  routerLink="/login" routerLinkActive="active">
                <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                  <div fxFlex class="hero-icon color-accent" >
                    <fa-icon mat-list-icon [icon]="faUser"></fa-icon>
                  </div>
                  <div fxFlex fxHide.xs fxHide.sm class="white-space-nowrap"
                  [ngClass]="GetHomeMainClass()">

                    Contul meu

                  </div>
                </div>
              </a>
              </div>
              <div fxFlex="0 1 0%"  class="pointer account-icon-redirect">
                <a  routerLink="/home/cart" routerLinkActive="active">
                <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                  <div fxFlex class="hero-icon color-accent" matBadge="{{numberItems}}">
                    <fa-icon mat-list-icon [icon]="faShoppingCart"></fa-icon>
                  </div>
                  <div fxHide.xs fxHide.sm fxFlex.gt-sm class="white-space-nowrap"
                  [ngClass]="GetHomeMainClass()">
                    Cosul meu
                  </div>
                </div>
                </a>
              </div>

              <div class="h-50" [class.menu-true]="open==true" fxFlex="0 1 0%" fxLayout="column" fxLayoutAlign="start center">
                <app-menu [myClass]="open"></app-menu>
              </div>

            </div>

          </div>

          <div fxFlex>
            <router-outlet></router-outlet>
          </div>

        </div>

      </div>

    </div>


    <div fxHide.xs [fxFlex.lg]="10" [fxFlex.xl]="20" class="background-color-accent-100 margin-home">

    </div>

  </div>


</div>
